<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form name="signupForm" novalidate>
    <div class="row"
    ng-class="{ 'has-error': signupForm.txtEmail.$touched
                  && signupForm.txtEmail.$invalid }">
        <strong>Email Address: </strong>
        <input type="text" ng-model="newUser.email"
                class="form-control" name="txtEmail" ng-minlength = "2"
                ng-maxlength="30" required>

          <div class="help-block" ng-messages="signupForm.txtEmail.$error"
                ng-if="signupForm.txtEmail.$touched"
                >
          <p ng-message="minlength">Email is too short.</p>
          <p ng-message="maxlength">Email is too long.</p>
          <p ng-message="required">Email is required.</p>
          </div>
    </div>

    <div class="row"
    ng-class="{ 'has-error': signupForm.txtPassword.$touched
                  && signupForm.txtPassword.$invalid }">
      <strong>Password</strong>
      <input type="password"
              ng-model="newUser.password" class="form-control"
              name="txtPassword" ng-minlength = "2" ng-maxlength="30"
              required>

            <div class="help-block" ng-messages="signupForm.txtPassword.$error"
                  ng-if="signupForm.txtPassword.$touched">
            <p ng-message="minlength">Password is too short.</p>
            <p ng-message="maxlength">Password is too long.</p>
            <p ng-message="required">Password is required.</p>
            </div>
    </div>

    <div class="row">
      &nbsp;
    </div>

    <div class="alert alert-danger"
          ng-show="emailAddressAlreadyInUse">
        <strong>This email has already been taken !</strong>
    </div>

    <div class="alert alert-success"
          ng-show="signUpSuccessfull">
        <strong>Sign up successful !</strong>
    </div>

    <div class="row">
      <button ng-click="createUser()">Submit</button>
    </div>

    </form>

  </div>
</div>
